<!-- TODO: Abstract from container div like pages -->
<div class="container">

    <div class="pull-right">
        <a class="btn btn-default" href="/manage/activities/create" ng-if="user.canOrganize">+ Activity</a>
        <a class="btn btn-default" href="/manage" ng-if="user.canOrganize">Manage activities</a>
    </div>

    <h1>Events</h1>

    <div class="activities">

        <div class="activity row" ng-repeat="activity in activities">
            <div class="activity-title col-xs-12">
                <a href="/activities/{{activity.id}}#signup"><h3 class="nospace">{{activity.name}} ({{activity.Organizer.fullName}})</h3><span
                        ng-if="!activity.approved">(Unlisted)</span></a>
            </div>
            <div class="activity-content col-md-8 col-xs-12">
                <p class="module fade">{{activity.description}}</p>
            </div>
            <div class="activity-details col-md-4 col-xs-12">
                <p ng-if="activity.date" style="margin-bottom: 0px;">When: {{activity.date | date:'d MMMM yyyy'}}</p>
                <p ng-if="activity.location" style="margin-bottom: 0px">Where: {{activity.location}}</p>
                <p ng-if="activity.startTime && activity.endTime">Time: {{activity.startTime}} - {{activity.endTime}}</p>
                <p ng-if="activity.startTime && !activity.endTime">Time: {{activity.startTime}}</p>
                <p ng-if="activity.canSubscribe && activity.subscribed">Subscribed <i class="fa fa-check"></i></p>
            </div>
        </div>
        <div class="no-activities" ng-if="!activities.length && !loading">
            There are no events planned currently.
        </div>
    </div>
</div>
