<div class="container">
    <h1>
        <a class="btn btn-link" href="/activities"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        New activity
    </h1>

    <form>

        <div class="form-group col-md-6 col-xs-12">
            <label for="activityCreate-name">Name of activity</label>
            <input type="text" ng-model="name" class="form-control" id="activityCreate-name">
        </div>

        <div class="form-group col-md-12 col-xs-12">
            <label for="activityCreate-desc">Description of activity</label>
            <textarea ng-model="description" class="form-control" id="activityCreate-desc"></textarea>
        </div>

        <div class="form-group col-md-6 col-xs-12">
            <label for="activityCreate-organize">Organizing committee</label>
            <select ng-model="organizer" class="form-control" id="activityCreate-organize">
                <option ng-repeat="group in user.groups" ng-value="group.id">{{group.displayName}}</option>
            </select>
        </div>

        <div class="form-group col-md-6 col-xs-12">
            <label for="activityCreate-date">Date of activity</label>
            <input type="date" ng-model="date" class="form-control" id="activityCreate-date"/>
        </div>

        <div class="form-group col-md-6 col-xs-12">
            <label for="activityCreate-startTime">Starting time of activity (xx:xx)</label>
            <input type="text" ng-model="startTime" class="form-control" id="activityCreate-startTime"/>
        </div>

        <div class="form-group col-md-6 col-xs-12">
            <label for="activityCreate-endTime">Ending time (xx:xx) (optional)</label>
            <input type="text" ng-model="endTime" class="form-control" id="activityCreate-endTime"/>
        </div>

        <div class="form-group col-md-6 col-xs-12">
            <label for="activityCreate-location">Location of activity</label>
            <input type="text" ng-model="location" class="form-control" id="activityCreate-location"/>
        </div>

        <div class="form-group col-md-6 col-xs-12">
            <label for="activityCreate-participationFee">Participation fee (in euros) (optional)</label>
            <input type="text" ng-model="participationFee" class="form-control" id="activityCreate-participationFee"/>
        </div>

        <div class="checkbox col-md-12 col-xs-12">
            <label for="activityCreate-canSubscribe">
                <input type="checkbox" ng-model="canSubscribe" id="activityCreate-canSubscribe"> Can members subscribe?
            </label>
        </div>

        <h3 class="col-md-12 col-xs-12" ng-if="canSubscribe" style="margin-top: 0">Name and email are automatically asked for in every form!</h3>

        <div ng-repeat="input in inputs" ng-if="canSubscribe">
            <div class="form-group col-md-8 col-xs-12">
                <label for="activityCreate-fullQuestion{{$index}}">Question {{$index + 1}}</label>
                <input type="text" ng-model="input.fullQuestion" class="form-control"
                       id="activityCreate-fullQuestion{{$index}}"/>
            </div>

            <div class="checkbox col-md-4 col-xs-12">
                <label for="activityCreate-required{{$index}}" style="margin-top: 30px">
                    <input type="checkbox" ng-model="input.required" id="activityCreate-required{{$index}}"> <b>mandatory</b>
                </label>
            </div>

            <div class="col-md-6 col-xs-12">
                <b>What is the answer type of your question?</b><br/>
                <select ng-model="input.type" ng-options="x for x in types" style="margin-top: 10px"></select><br>
            </div>

            <div class="form-group col-md-6 col-xs-12" ng-if="input.type == 'radio' || input.type == 'checkbox'">
                <label for="activityCreate-options{{$index}}">Options ; seperated (For options yes and no type yes;no)</label>
                <input type="text" ng-model="input.options" class="form-control" id="activityCreate-options{{$index}}"/>
            </div>

            <div class="col-md-12 col-xs-12">
                <hr>
            </div>
        </div>

        <div class="col-md-12 col-xs-12" ng-if="canSubscribe" style="padding-bottom: 10px">
            <button ng-click="add()" class="btn btn-default">Add question</button>
            <button ng-click="remove()" class="btn btn-default">Remove last question</button>
            <br>
        </div>

        <button type="submit" class="btn btn-primary col-md-12 col-xs-12" ng-click="submit()" ng-disabled="loading">Save</button>

    </form>
</div>
