<!-- TODO Abstract from container div -->
<div class="container">
    <h1>
        <a class="btn btn-link" href="/activities"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        Edit activity
    </h1>

    <form>

        <div class="form-group">
            <label for="activityEdit-name">Name</label>
            <input type="text" ng-model="activity.name" class="form-control" id="activityEdit-name"/>
        </div>

        <div class="form-group">
            <label for="activityEdit-desc">Description (Markdown supported)</label>
            <textarea ng-model="activity.description" class="form-control" id="activityEdit-desc"></textarea>
        </div>

        <div class="form-group">
            <label for="activityEdit-date">Date</label>
            <input type="date" ng-model="activity.date" class="form-control" id="activityEdit-date"/>
        </div>

        <div class="form-group">
            <label for="activityEdit-time">Time (from - until)</label>
            <input type="text" ng-model="activity.time" class="form-control" id="activityEdit-time"/>
        </div>

        <div class="form-group">
            <label for="activityEdit-location">Location (optional)</label>
            <input type="text" ng-model="activity.location" class="form-control" id="activityEdit-location"/>
        </div>

        <button type="submit" class="btn btn-default" ng-click="submit()" ng-disabled="loading">Save</button>

    </form>
</div>