<!--TODO Abstract from container-->
<!--
text
radio
checkbox
-->
<div class="container">
    <h1><a class="btn btn-link" href="/activities"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        {{activity.name}}</h1>
    <p ng-if="activity.description">{{activity.description}}</p>
    <p ng-if="activity.date">Date: {{activity.date | date:'d MMMM yyyy'}}</p>
    <p ng-if="activity.startTime">Starting time: {{activity.startTime}}</p>
    <p ng-if="activity.endTime">Ending time: {{activity.endTime}}</p>
    <p ng-if="activity.location">Location: {{activity.location}}</p>
    <div ng-if="activity.canSubscribe && user.loggedIn">
        <a href="#signup" class="btn btn-primary" data-toggle="collapse">Sign up here!</a>
        <div id="signup" class="collapse subscriptionForm">
            <form>
                <div ng-repeat="question in activity.titlesOfQuestions">
                    <div class="form-group" ng-if="activity.typeOfQuestion[$index] == 'name'">
                        <label for="activityName">{{activity.questionDescriptions[$index]}}</label>
                        <input type="text" ng-model="user.displayName" class="form-control" id="activityName" disabled/>
                    </div>

                    <div class="form-group" ng-if="activity.typeOfQuestion[$index] == 'TU/e email'">
                        <label for="activityEmail">{{activity.questionDescriptions[$index]}}</label>
                        <input type="text" ng-model="user.email" class="form-control" id="activityEmail" disabled/>
                    </div>

                    <div class="form-group" ng-if="activity.typeOfQuestion[$index] == 'text'">
                        <label for="activityView{{$index}}">{{activity.questionDescriptions[$index]}}</label>
                        <input type="text" ng-model="answers[$index]" class="form-control" id="activityView{{$index}}"/>
                    </div>

                    <div class="form-group" ng-if="activity.typeOfQuestion[$index] == 'radio'">
                        <label>{{activity.questionDescriptions[$index]}}</label>
                        <div ng-repeat="option in activity.formOptions[$index]">
                            <div class="radio">
                                <label>
                                    <input type="radio" value="{{option}}" ng-model="answers[$parent.$index]">{{option}}
                                </label>
                            </div>
                        </div>
                    </div>
                    <div class="form-group" ng-if="activity.typeOfQuestion[$index] == 'checkbox'">
                        <label>{{activity.questionDescriptions[$index]}}</label>
                        <div ng-repeat="option in activity.formOptions[$index]">
                            <div class="checkbox">
                                <label>
                                    <input type="checkbox" value="{{option}}" ng-model="answers[$parent.$index][$index]">{{option}}
                                </label>
                            </div>
                        </div>
                    </div>
                </div>
                <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="loading" id="submit">
                    Submit
                </button>
            </form>
        </div>
        <h2>Current Subscriptions</h2>
        <table style="width: 100%">
            <tr>
                <th>#<hr /></th>
                <th ng-repeat="question in activity.titlesOfQuestions">{{question}}<hr /></th>
            </tr>
            <tr ng-repeat="participant in activity.participants">
                <td>{{$index}}</td>
                <td ng-repeat="answer in participant.subscription.answers">{{answer}}</td>
            </tr>
        </table>
    </div>
</div>