<div class="container">

<!-- TODO: Abstract from container div like pages -->

    <h1>Committees</h1>
    <p>
        The association has several committees that focus on organizing activities, workshops, events and trips.
        In addition, several committees help the association in acquisition and promotion.
        In total, H.S.A. Confluente currently consists of {{committees.length}} committees.
    </p>
    <div class="row" id="committees">
        <div ng-repeat="committee in committees">
            <div class="col-sm-12 col-xs-12 col-md-6 col-lg-6" style="padding: 15px">
                <div class="committee-box bg-primary">
                    <div class="committee-img-container" ng-style="{'background-image': 'url(' + committee.image + ')'}"></div>
                    <a href={{committee.link}} class="committee-text">
                        <b>{{committee.displayName}}</b>
<!--                        <p>{{committee.description}}</p>-->
                    </a>
                </div>
            </div>
        </div>
        <div class="no-committees" ng-if="!committees.length && !loading">
            Committees are gone 🦀🦀🦀.
        </div>

    </div>
</div>