<h1>Login</h1>

<div ng-controller="controllerNavbar">

  <div ng-if="!user.loggedIn">
    <form>

      <div class="form-group">
        <input type="email" ng-model="email" class="form-control" placeholder="Email address">
      </div>

      <div class="form-group">
        <input type="password" ng-model="password" class="form-control" placeholder="Password">
      </div>

      <button type="submit" ng-click="login(email, password)" class="btn btn-default">
        Login
      </button>

    </form>
  </div>

  <div ng-if="user.loggedIn">
    <button type="submit" ng-click="logout()" class="btn btn-default">
      Logout
    </button>
  </div>

</div>
