<div class="container">
    <h1>
        <a class="btn btn-link" href="/manage"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        Edit Group
    </h1>

    <form>
        <div class="form-group">
            <label for="groupEdit-name">Group name</label>
            <input type="text" ng-model="group.displayName" class="form-control" id="groupEdit-name">
        </div>

        <div class="form-group">
            <label for="groupEdit-fullName">Full name</label>
            <input type="text" ng-model="group.fullName" class="form-control" id="groupEdit-fullName">
        </div>

        <div class="form-group">
            <label for="groupEdit-desc">Description</label>
            <input type="text" ng-model="group.description" class="form-control" id="groupEdit-desc">
        </div>

        <div class="form-group">
            <label for="groupEdit-email">Email</label>
            <input type="text" ng-model="group.email" class="form-control" id="groupEdit-email">
        </div>

        <div class="checkbox">
            <label for="groupCreate-canOrganize">
                <input type="checkbox" ng-model="group.canOrganize" id="groupCreate-canOrganize"> Can this group
                organize events?
            </label>
        </div>

        <button type="submit" class="btn btn-default" ng-click="submit()" ng-disabled="loading">Save</button>

        <h2>Users</h2>
        <div>
            <label>Users in group</label>
            <div style="border-color: #2a2a2a; border-radius: 1px; border-bottom-style: solid">
                <div ng-repeat="user in user_group">
                    <button ng-click="removeUserFromGroup(user, $index)">-</button>
                    <label>
                        {{user.name}}
                        <select ng-model="user.func" ng-options="x for x in groupRoles"></select><br>
                    </label>
                </div>
            </div>
        </div>

        <div>
            <label>Users not in group</label>
            <div style="overflow: scroll; max-height: 300px; border-color: #2a2a2a; border-radius: 1px; border-bottom-style: solid">
                <div ng-repeat="user in users_not_in_group">
                    <button ng-click="addUserToGroup(user, $index)">+</button>
                    <label>{{user.name}}</label>
                </div>
            </div>
        </div>

    </form>
</div>
