<div class="container">
    <h1>
        <a class="btn btn-link" href="/manage"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        New Group
    </h1>

    <form>

        <div class="form-group">
            <label for="groupCreate-name">Group name</label>
            <input type="text" ng-model="name" class="form-control" id="groupCreate-name">
        </div>

        <div class="form-group">
            <label for="groupCreate-desc">Description (Markdown supported)</label>
            <textarea ng-model="description" class="form-control" id="groupCreate-desc"></textarea>
        </div>

        <div class="form-group">
            <label for="groupCreate-email">Email</label>
            <input type="text" ng-model="email" class="form-control" id="groupCreate-email">
        </div>

        <div class="form-group">
            <label>Type</label>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="type" value="committee" id="groupCreate-type1"/> Committee
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="type" value="board" id="groupCreate-type2"/> Board
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="type" value={{temporary_input}}> Other:  <input type="text" ng-model="temporary_input" class="form-control" id="groupCreate-type3">
                </label>
            </div>
        </div>

        <div class="checkbox">
            <label for="groupCreate-canOrganize">
                <input type="checkbox" ng-model="canOrganize" id="groupCreate-canOrganize"> Can this group organize events?
            </label>
        </div>

        <button type="submit" class="btn btn-default" ng-click="submit()" ng-disabled="loading">Save</button>

    </form>
</div>
