<div class="container">
    <h1>
        <a class="btn btn-link" href="/manage"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        Edit Group
    </h1>

    <form>
        <div class="form-group">
            <label for="groupEdit-name">Group name</label>
            <input type="text" ng-model="group.displayName" class="form-control" id="groupEdit-name">
        </div>

        <div class="form-group">
            <label for="groupEdit-fullName">Full name</label>
            <input type="text" ng-model="group.fullName" class="form-control" id="groupEdit-fullName">
        </div>

        <div class="form-group">
            <label for="groupEdit-desc">Description</label>
            <input type="text" ng-model="group.description" class="form-control" id="groupEdit-desc">
        </div>

        <div class="form-group">
            <label for="groupEdit-email">Email</label>
            <input type="text" ng-model="group.email" class="form-control" id="groupEdit-email">
        </div>

        <div class="form-group">
            <label>Type</label>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="group.type" value="Committee" id="groupCreate-type1"/> Committee
                </label>
            </div>
            <div class="radio">
                <label>
                    <input type="radio" ng-model="group.type" value="Board" id="groupCreate-type2"/> Board
                </label>
            </div>
        </div>

        <div class="checkbox">
            <label for="groupCreate-canOrganize">
                <input type="checkbox" ng-model="group.canOrganize" id="groupCreate-canOrganize"> Can this group
                organize events?
            </label>
        </div>

        <div class="col-md-6">
            <label>Users in group</label>
            <div>
                <input type="text" class="form-control" placeholder="Search users in group" ng-model="searchQueryUsersInGroup">
            </div>
            <div style="overflow: auto; height: 200px; border: 1px solid black; padding: 5px">
                <div ng-repeat="user in user_group | filter:searchQueryUsersInGroup" style="margin: 1px">
                    <button ng-click="removeUserFromGroup(user, $index)">-</button>
                    {{user.name}}
                    <select ng-model="user.func" ng-options="x for x in groupRoles"></select><br>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <label>Users not in group</label>
            <div>
                <input type="text" class="form-control" placeholder="Search users not in group" ng-model="searchQueryUsersNotInGroup">
            </div>
            <div style="overflow: auto; height: 200px; border: 1px solid black; padding: 5px">
                <div ng-repeat="user in users_not_in_group | filter:searchQueryUsersNotInGroup" style="margin: 1px">
                    <button ng-click="addUserToGroup(user, $index)">+</button>
                    {{user.name}}
                </div>
            </div>
        </div>

        <div class="col-md-12"><br></div>

        <button type="submit" class="btn btn-default" ng-click="submit()" ng-disabled="loading">Save</button>

    </form>
</div>
