<div class="container">
    <form class="form-horizontal">
        <header>
            <h1>Add internship</h1>
        </header>

        <fieldset class="section">
            <legend class="h4 block">General Info</legend>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="internshipCreate-title" class="col-xs-12 col-sm-3 control-label">Title</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" ng-model="title" class="form-control" id="internshipCreate-title"
                                   required>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="internshipCreate-companyName"
                               class="col-xs-12 col-sm-3 control-label">Company</label>
                        <div class="col-xs-12 col-sm-9">
                            <select ng-model="company" ng-change="change()" class="form-control" ng-options="name for name in companyNames" id="internshipCreate-companyName"></select>
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="internshipCreate-category" class="col-xs-12 col-sm-3 control-label">Category</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" class="form-control" ng-value="categories[0]" id="internshipCreate-category" ng-disabled="true">
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>
        </fieldset>

        <hr>

        <fieldset class="section">
            <legend class="h4 block">Details</legend>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="internshipCreate-email" class="col-xs-12 col-sm-3 control-label">Contact
                            email</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" ng-model="email" class="form-control" id="internshipCreate-email">
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="internshipCreate-link" class="col-xs-12 col-sm-3 control-label">Link to
                            internship</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" ng-model="link" class="form-control" id="internshipCreate-link">
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="internshipCreate-educationLevel" class="col-xs-12 col-sm-3 control-label">Education
                            level</label>
                        <div class="col-xs-12 col-sm-9">
                            <input type="text" ng-model="educationLevel" class="form-control"
                                   id="internshipCreate-educationLevel">
                        </div>
                    </div>

                </div>
            </div>

            <div class="clearfix"></div>

            <div class="row">
                <div class="col-xs-12 col-md-8 col-lg-6">

                    <div class="form-group">
                        <label for="internshipCreate-description" class="col-xs-12 col-sm-3 control-label">Full
                            Description</label>
                        <div class="col-xs-12 col-sm-9">
                            <textarea ng-model="description" class="form-control" style="height:300px"
                                      id="internshipCreate-description"></textarea>
                        </div>

                    </div>
                </div>

                <p class="hidden-sm col-xs-12 col-md-4 control-label text-left small">
                    You can make the description real fancy using <b>markdown</b>! For an overview of how markdown
                    works (adding quotes, links, images and much much more) check <a
                        href="https://www.markdownguide.org/basic-syntax/">this link</a>!
                </p>

            </div>
        </fieldset>

        <button type="submit" class="btn btn-primary" ng-click="submit()" ng-disabled="loading">Create internship
        </button>

    </form>
</div>