<div class="container">

    <div class="pull-right">
        <a class="btn btn-default" href="/manage/partners/internships/create" ng-if="user.canOrganize">Add Internship</a>
    </div>

    <h1>Internships</h1>

    <div class="row">

        <div class="col-xs-12 col-md-4" style="padding: 15px" ng-repeat="internship in internships">
            <div class="partner-box">

                <div class="partner-img-container" style="background-image: url({{internship.imageUrl}})"></div>

                <div class="partner-footer">
                    <ul class="partner-btnlist">
                        <li>
                            <a href="/partners/internships/{{internship.id}}" class="btn btn-default partner-btn-small">
                                <i class="fa fa-ellipsis-h"></i>&nbsp;&nbsp;{{internship.title}}
                            </a>
                        </li>
                    </ul>
                </div>

            </div>
        </div>

    </div>

</div>
