<h1>New activity</h1>
<a class="btn btn-default" href="/activities">Back</a>
<form>
  <div class="form-group row">
    Name<input ng-model="name" class="form-control"></input>
  </div>
  <div class="form-group row">
    Description (Markdown supported)<textarea ng-model="description" class="form-control"></textarea>
  </div>
  <div class="form-group row">
    Organizer<select ng-model="organizer" class="form-control">
      <option ng-repeat="group in user.groups" ng-value="group.id">{{group.displayName}}</option>
    </select>
  </div>
  <div class="form-group row">
    Date
    <p class="input-group">
      <input type="text" class="form-control" ng-model="startTime" uib-datepicker-popup="yyyy-MM-dd" is-open="datepicker.open" datepicker-options="dateOptions" close-text="Close"/>
      <span class="input-group-btn">
        <button type="button" class="btn btn-default" ng-click="openDatePicker()"><i class="glyphicon glyphicon-calendar"></i></button>
      </span>
    </p>
  </div>
  <div class="form-group row">
    Location (optional)<input ng-model="location" class="form-control"></input>
  </div>
  <button class="btn btn-default" ng-click="submit()" ng-disabled="loading">Save</button>
</form>
