<!DOCTYPE html>
<html lang="en" ng-app="confluente">
<head>
  <meta charset="UTF-8">
  <meta content="width=device-width, initial-scale=1 user-scalable=no" name="viewport">
  <base href="/"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css"/>
  <link rel="stylesheet" href="css/style.css" type="text/css"/>
  <script src="/js/bundle.js"></script>

  <link href="images/favicon.ico" rel="shortcut icon" type="image/x-icon">
  <title ng-bind="title + ' - HSA Confluente'">HSA Confluente</title>
</head>
<body ng-cloak>
  <header id="header">
    <nav role="navigation" class="navbar navbar-default">
      <div class="container" ng-controller="navbarController as nav">
        <div class="navbar-header navbar-left pull-left">
          <a href="/" class="navbar-brand">
            <span class="hsa">H.S.A Confluente</span>
          </a>
        </div>
        <div class="navbar-header navbar-right pull-right">
          <ul class="nav navbar-nav navbar-settings pull-left">
            <div ng-if="user.loggedIn">
              <li class="dropdown hidden-sm hidden-xs" uib-dropdown auto-close="outsideClick">
                <a class="dropdown-toggle" uib-dropdown-toggle>
                  <p>{{ user.displayName}}</p>
                </a>
                <ul class="dropdown-menu dropdown-user" uib-dropdown-menu>
                  <li><a href="/user/profile"><span class="pull-left">Profile</span><span class="fa fa-user-circle pull-right"></span></a></li>
                  <li><a href="/manage"><span class="pull-left">Manage</span><span class="fa fa-sliders pull-right"></span></a></li>
                  <li><a ng-click="logout()"><span class="pull-left">Logout</span><span class="fa fa-sign-out pull-right"></span></a></li>
                </ul>
              </li>
              <li class="visible-sm visible-xs">
                <a href="user/profile"><span class="fa fa-gear"></span></a>
              </li>
            </div>
            <div ng-if="!user.loggedIn">
              <li class="visible-xs">
                <a class="icon" href="user/login"><span class="fa fa-user"></span></a>
              </li>
              <li class="dropdown hidden-xs" uib-dropdown auto-close="outsideClick">
                <a class="dropdown-toggle icon"><span class="fa fa-user" uib-dropdown-toggle></span></a>
                <div class="dropdown-menu dropdown-login" uib-dropdown-menu>
                  <form>
                    <div class="form-group row">
                      <input ng-model="email" class="form-control" placeholder="Email address">
                    </div>
                    <div class="form-group row">
                      <input ng-model="password" class="form-control" placeholder="Password" type="password">
                    </div>
                    <button ng-click="login(email, password)" class="btn btn-primary btn-block">Login<span class="fa fa-sign-in"></span></button>
                  </form>
                </div>
              </li>
            </div>
          </ul>
          <a class="navbar-toggle icon" ng-click="report(isNavCollapsed = !isNavCollapsed)"><span class="fa fa-bars"></span></a>
        </div>
        <div class="collapse navbar-collapse" uib-collapse="isNavCollapsed">
          <ul class="nav navbar-nav">
            <li class="association"><a href="/page/association">Association</a></li>
            <li class="activities"><a href="/activities">Activities</a></li>
            <li class="education"><a href="/page/education">Education</a></li>
            <li class="partners"><a href="/page/partners">Partners</a></li>
            <li class="documents" ng-if="user.loggedIn"><a href="/files">Documents</a></li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <div id="content">
    <div class="view col-xs-12 col-sm-10 center" ng-view></div>
  </div>
  <footer id="footer">
    <div class="footer-content container">
      <div class="row">
        <div class="col-sm-2">
          <img class="logo" src="img/HSAConfluente.svg" alt="H.S.A Confluente"/>
        </div>
        <div class="col-sm-3 text-justify">
          <h3>Visiting address</h3>
          <address >
            <span class="hsa">H.S.A Confluente</span><br>
            Metaforum 0.094<br>
            De Groene Loper 5<br>
            5612 AZ Eindhoven<br>
            Nederland
          </address>
        </div>
        <div class="col-sm-3 text-justify">
          <h3>Contact</h3>
          <h5>Board</h5>
          <a href="mailto:board@hsaconfluente.nl">board@hsaconfluente.nl</a>
          <h5>Web Committee</h5>
          <a href="mailto:board@hsaconfluente.nl">web@hsaconfluente.nl</a>
        </div>
        <div class="col-sm-4 copyright">
          <p>This site is maintained by the <span class="hsa">H.S.A Confluente</span> Web Committee</p>
          <p>&copy; 2017 - All rights reserved.</p>
        </div>
      </div>
    </div>
  </footer>
</body>
</html>
