<!-- TODO Abstract from container div -->
<div class="container">
    <h1>
        <a class="btn btn-link" href="/manage"><i class="fa fa-chevron-left" aria-hidden="true"></i></a>
        Edit user
    </h1>

    <form>

        <div class="form-group">
            <label>Email address</label>
            <br/>{{user.email}}
        </div>

        <div class="form-group">
            <label for="userEdit-name">Name</label>
            <input type="text" ng-model="user.displayName" class="form-control" id="userEdit-name"/>
        </div>

        <button type="submit" class="btn btn-default" ng-click="submit()" ng-disabled="loading">Save</button>

    </form>
</div>